<div class="sidebar" data-color="orange">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
        <a href="/" class="simple-text logo-normal px-2">
            <img href="/" src="/images/cm-plain.png" class="simple-text logo-mini d-inline" width="30px"/>
            <span class="m-3">CM Classes</span>
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li class="{{#if li1}}active{{/if}}">
                <a href="/dashboard/">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="{{#if li3}}active{{/if}}">
                <a href="/dashboard/admission">
                    <i class="now-ui-icons education_atom"></i>
                    <p>Admission</p>
                </a>
            </li>
            <li  class="{{#if li4}}active{{/if}}">
                <a href="/dashboard/students">
                    <i class="now-ui-icons location_map-big"></i>
                    <p>Students</p>
                </a>
            </li>
            <li class="{{#if li5}}active{{/if}}">
                <a href="/dashboard/notify">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="{{#if li2}}active{{/if}}">
                <a href="/dashboard/profile">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li>
                <a href="./tables.html">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li>
                <a href="./typography.html">
                    <i class="now-ui-icons text_caps-small"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="./upgrade.html">
                    <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>
        </ul>
    </div>
</div>
