<div class="landing-page sidebar-collapse">
    <!-- Navbar -->
    {{>header}}
    <!-- End Navbar -->

    <div class="wrapper">
        <div class="page-header page-header-image">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/images/kristopher-roller-PC_lbSSxCZE-unsplash.jpg');">
            </div>
            <div class="content-center">
                <div class="container">
                    <h1 class="title">Success in now in your hands.</h1>
                    <div class="text-center">
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Who we are?</h2>
                        <h5 class="description">We are coaching classes for Standard 8th to 10th, 11th and 12th Science.</h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left" style="background-image: url('/images/avel-chuklanov-5iseEuoW7mw-unsplash.jpg')">
                                <!-- First image on the left side -->
                                <p class="blockquote blockquote-primary">"Success is now in your Hands.
                                    <br>
                                    <br>
                                    <small>-Chaudhari Mitesh</small>
                                </p>
                            </div>
                            <!-- Second image on the left side of the article -->
                            <div class="image-container" style="background-image: url('/images/shubham-sharan-Z-fq3wBVfMU-unsplash.jpg'"></div>
                        </div>
                        <div class="col-md-5">
                            <!-- First image on the right side, above the article -->
                            <div class="image-container image-right"
                                 style="background-image: url('/images/capturing-the-human-heart-FQ1L770x6l8-unsplash.jpg')"></div>
                            <h3>Way join CM Classes?</h3>
                            <p>High quality education nearby you neighbourhood.</p>
                            <p>Lowest fee Structure in area.</p>
                            <p>Guaranteed Improvement in student's result.</p>
                            <p>No student failed from this classes.</p>
                            <p>Young staff and Friendly environment.</p>
                            <p>Constant communication with parents</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-team text-center">
            <div class="container">
                <h2 class="title">Here is our team</h2>
                <div class="team">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-player">
                                <img src="https://scontent.famd1-2.fna.fbcdn.net/v/t1.0-9/s960x960/53216936_1254018184754384_8940072845799587840_o.jpg?_nc_cat=101&_nc_sid=85a577&_nc_oc=AQl5C92EW88Zu6KDQgXdkW_d3IXUT9_4d5uX3Ti1VU0rwINoGAHA75yJ8vU9_wZybojtKYQyPq0PlZDF7CO6BWOH&_nc_ht=scontent.famd1-2.fna&_nc_tp=7&oh=5469e1bc1954d8f776b66cebb2a954c4&oe=5EE81CCF" alt="Thumbnail Image"
                                     class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Sagar Chauhan</h4>
                                <p class="category text-primary">Administrator</p>
                                <p class="description">Administrator of CM Classes. Providing Technical support to organization.
                                    Brand designer, Photographer,
                                    Handling social media account and Youtube channel etc.
                                </p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                        class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                        class="fab fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                        class="fab fa-facebook-square"></i></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-player">
                                <img src="https://scontent.famd1-1.fna.fbcdn.net/v/t31.0-8/p960x960/13404023_1689200154677042_4642027329860522128_o.jpg?_nc_cat=102&_nc_sid=85a577&_nc_oc=AQnhf7icAJItwuO1NvmgFEroKnMiXZK3y32R2KPGmoI9yLhILIevjmUsoUnOqLH6XJT1cwr7FBr0cQF6sYkvqwTF&_nc_ht=scontent.famd1-1.fna&_nc_tp=6&oh=23fc6c88999d467907e8bc54274e0e97&oe=5EFDDF4B" alt="Thumbnail Image"
                                     class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Mitesh Chaudhari</h4>
                                <p class="category text-primary">Founder</p>
                                <p class="description">Person behind CM Classes. CM Classes is named after Chaudhari Mitesh's acronym
                                    Holding success to build this organization at young age.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                        class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                        class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-player">
                                <img src="https://scontent.famd1-2.fna.fbcdn.net/v/t1.0-9/12079464_730185403792238_1879949613572748718_n.jpg?_nc_cat=100&_nc_sid=7aed08&_nc_oc=AQmVRUN1OTxxGqpI2WYkNcfsNGQDjo93hHoF7LoRKRP3-k0rLBTWvd2nv5N8dnXSfThSS2V8G8KEWuBKEfVekUax&_nc_ht=scontent.famd1-2.fna&oh=79a003e4dcb8e6ca16484c4ff2507b4a&oe=5EFAFF4F" alt="Thumbnail Image"
                                     class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Brijesh Solanki</h4>
                                <p class="category text-primary">Partner</p>
                                <p class="description">Partner of CM Classes with 40% shares also faculty of physics at same organization.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                        class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                        class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                        class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-player">
                                <img src="https://scontent.famd1-2.fna.fbcdn.net/v/t31.0-8/p960x960/13254805_108595649559887_4046444158791827268_o.jpg?_nc_cat=107&_nc_sid=85a577&_nc_oc=AQln6GBX5NAiFYdVJHLBnzbU3xtHBbSDGgV-x3phsyoTuqSdxgvy7NbagVF5mlP2i8KSQvEZBske4g9Nrkv2Y780&_nc_ht=scontent.famd1-2.fna&_nc_tp=6&oh=2a5e7576caa4ef76911e785eff1cf538&oe=5EE9E616" alt="Thumbnail Image"
                                     class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Vishal Bariya</h4>
                                <p class="category text-primary">Faculty</p>
                                <p class="description">Faculty at CM Classes with English, Maths, Science as subject of priority</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                        class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                        class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                        class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-contact-us text-center">
            <div class="container">
                <h2 class="title">Want to Discuss something?</h2>
                <form class="form" action="/" method="post" >
                <div class="row">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <div class="input-group input-lg">
                            <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                            </div>
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name...">
                        </div>
                        <div class="input-group input-lg">
                            <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                            </div>
                            <input type="text" class="form-control" id="email" name="email"  placeholder="Email...">
                        </div>
                        <div class="textarea-container">
                            <textarea class="form-control" id="message" name="message"  rows="4" cols="80"
                                      placeholder="Type a message..."></textarea>
                        </div>
                        <div class="send-button">
                            <button type="submit" class="btn btn-primary btn-round btn-block btn-lg">Send Message <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        {{>footer}}
    </div>
</div>