<div class="login-page sidebar-collapse">
    <!-- Navbar -->
    {{>header}}
    <!-- End Navbar -->
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image"
             style="background-image:url('/images/kristopher-roller-PC_lbSSxCZE-unsplash.jpg')"></div>
            <div class="alert alert-success" style="margin-bottom: -130px; margin-top:80px;" role="alert">
                <div class="container">
                    <div class="alert-icon">
                        &tridot;
                    </div>
                    OTP has been sent on: <b>{{user}}</b>
                    <button type="button" class="close" style="line-height: 1;" data-dismiss="alert"
                            aria-label="Close">
                              <span aria-hidden="true">
                                  &times;
                              </span>
                    </button>
                </div>
            </div>
        <div class="content" style="margin-top: 10%;">
            <div class="container">
                <div class="row">
                    <div class="card card-signup" data-background-color="orange">
                        {{#if hasErrors}}
                            <div class="alert alert-danger" style="margin-bottom: -50px;" role="alert">
                                {{# each messages}}
                                    <div class="container">
                                        <div class="alert-icon">
                                            &tridot;
                                            <!--                                            <i class="now-ui-icons objects_support-17"></i>-->
                                        </div>
                                        <strong>alert!</strong> {{this}}
                                        <button type="button" class="close" style="line-height: 1;" data-dismiss="alert"
                                                aria-label="Close">
                                          <span aria-hidden="true">
                                              &times;
                                          </span>
                                        </button>
                                    </div>
                                {{/each}}
                            </div>
                        {{/if }}
                        <form class="form" action="/users/verify-otp-fp" method="POST">
                            <div class="card-header text-center">
                                <h3 class="card-title title-up">Verify OTP</h3>
                            </div>
                            <div class="card-body">
                                <div class="input-group no-border">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                      </span>
                                    </div>
                                    <input type="number" class="form-control" id="otp" name="otp"
                                           placeholder="OTP..." required>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                <button type="submit" class="btn btn-neutral btn-round btn-lg">Confirm<i
                                        class="fa fa-arrow-right" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script type="text/javascript">
        function checkPassword(pswd) {
            var np = $("confirm-password");
            // alert("pswd "+pswd+":"+np);
        }
    </script>
</div>
</div>